.btn {
    border: none;
    border-radius: 5px;
    background-color: #f90;
    padding: 10px 16px;
    color: brown;
    cursor: pointer;
}

.btn:disabled {
    background-color: grey;
    border: 1px solid darkslategray;
    cursor: not-allowed;
}
.btn:disabled:hover {
    background-color: grey;
}

.btn:hover {
    background-color: orangered;
}

.primary {
    background-color: midnightblue;
}

.primary:hover {
    background-color: skyblue;
}
