:root {
    --my-bgcolor: #f90;
    --l-tab: 768px;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.header {
    background-color: var(--my-bgcolor);
    padding: 10px 15px;
    position: sticky;
    top: 0;
}


.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.main-nav__item:not(:last-child) {
    margin-right: 10px;
}

.main-nav__item a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
}

.main-nav__item a:hover {
    background-color: orange;
    border-radius: 2px;
}

.hero-bg {
    background-image: url('https://picsum.photos/id/102/1000/400');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .header {
        background-color: red;
    }
}
