.container {
  position: relative;
  width: 100%;
  padding: 1.5rem 1rem;
  background-color: #f4f4f4f4;
}

.card-container {
  display: flex;
}

/* Input Types */
/* 1: LABEL */

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
}

.form-input input {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  font-size: 1rem;
}

.form-input input:disabled {
  background-color: #bdbbbb;
  cursor: not-allowed;
  color: #989393;
}

.form-input span {
  cursor: pointer;
  font-size: 1rem;
  color: black;
  padding: 0.8rem 0;
  font-weight: 300;
  display: block;
}

/* BUTTONS */

/* RADIO */
.form-radio-group {
  background-color: white;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.form-check-radio {
  position: relative;
  padding: 1rem;
  border: 1px solid #b6592b;
  border-radius: 5px;
  cursor: pointer;
}

.radio-item label {
  padding: 10px 15px;
  text-align: center;
  display: block;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 500;
}

input[type="radio"]:checked ~ label {
  background-color: #e3a587;
  color: black;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:disabled ~ label,
input[type="radio"]:checked:disabled ~ label {
  background-color: #bdbbbb;
  color: white;
  cursor: not-allowed;
}

input[type="radio"]:checked:disabled ~ label {
  background-color: darkslategray;
}

/* TOASTER */
