/* Reset */
html,
body {
  font-family: "Helvetica", sans-serif;
  height: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
main,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}
